*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #f4f4fc;
}
header{
    height: 70px;
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 31px;
    margin: 30px 50px;
    
}

main{
    position: absolute;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}
.contenedor-cajatexto{
    position: absolute;
    width: 577px;
    height: 48px;
    clear:left;
    left: 240px;
    top: 80px;
    
}
.caja-texto{
    width: 80%;
    height: 100%;
    border: none;
    background-color: #f4f4fc;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
}

.caja-texto::placeholder{
    color: #0A3871;
}

.alerta{
    position: absolute;
    top: 700px;
    left: 200px;
    display: flex;
    color: #495057;


}
.imagen-alerta{
    width: 16px;
    height: 16px;
    float: right;
    margin: 0 15px 50px;
    
}

.contenedor-botones{
    position: absolute;
    top: 735px;
    height: 80px;
    padding-left: 15%;
    padding-top: 15px;
    margin-bottom: 0 0 30px;
    padding-bottom: 40px;
    
}
.btn-encriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.btn-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #0A3871;
    cursor: pointer;
    
}

.seccion2{
    display: block;
    position: relative;
    width: 400px;
    height: 840px;
    right: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);


}
.cajatexto-munheco{
    width: 360px;
    height: 700px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    color: #0A3871;
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0 0 20px;

}

.contenedor-munheco{
    position: absolute;
    left: 30px;
    top: 120px;
    box-sizing: border-box;
    padding-top: 50px;
}
.contenedor-parrafo{
    position: absolute;
    box-sizing: border-box;
    top: 500px;
    left: 40px;
}
.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #343440;
}
.contenedor-parrafo p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #495057;
}
.contenedor-resultado{
    color: #495057;
    font-size: 25px;
}
.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}
.btn-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}
